.nav {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
}

.nav h3 {
  margin: 0;
}

.nav-div {
  height: 50%;
  margin-right: 10px;
}
.nav-form {
  margin: 0;
}

.nav-input {
  width: 14vw;
  border-radius: 20px 0 0 20px;
}

.nav-button {
  border-radius: 0 20px 20px 0;
  border: none;
}
.nav-ul {
  margin: 0;
  position: relative;
  width: 14vw;
  z-index: 999;
  background-color: aqua;
  padding-left: 1px;

  list-style: none;
}

.nav-ul li:hover {
  background-color: red;
}
