.nav {
  background-color: blue;
  background: repeating-linear-gradient(rgb(0, 0, 175), rgb(89, 0, 255));
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
}

.nav h3 {
  margin: 0;
}

.nav-div {
  height: 50%;
  margin-right: 10px;
}
.nav-form {
  margin: 0;
}

.nav-input {
  width: 14vw;
  border-radius: 20px 0 0 20px;
}

.nav input:hover {
  box-shadow: 0px 1px 5px 0px;
}

.nav-button {
  border-radius: 0 20px 20px 0;
  border: none;
  cursor: pointer;
}

.nav-ul {
  margin: 0;
  position: relative;
  width: 14vw;
  z-index: 999;
  background-color: aqua;
  padding-left: 1px;

  list-style: none;
}

.nav-ul li:hover {
  background-color: red;
}
